body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	width: 100%;
	padding: 0;
	margin: 0;
}

td {
	vertical-align: top;
}

#ss-offer {
    display: block;
    color: #fefefe;
    text-decoration: none;
    padding: 16px;
    font: 16px Verdana;
    cursor: pointer;

    background: #1f1f1f; /* Old browsers */
    background: -moz-linear-gradient(left,  #1f1f1f 0%, #4c6136 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1f1f1f), color-stop(100%,#4c6136)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1f1f1f 0%,#4c6136 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1f1f1f 0%,#4c6136 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1f1f1f 0%,#4c6136 100%); /* IE10+ */
    background: linear-gradient(to right,  #1f1f1f 0%,#4c6136 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#4c6136',GradientType=1 ); /* IE6-9 */
}

#ss-offer .btn {
    background: #8fc259;
    color: #fff;
    padding: 12px 30px;
    text-align: center;
}